{
  extends: "eslint:recommended",
  env: {
    browser: true,
  },
  parserOptions: {
    sourceType: module,
    ecmaFeatures: {
      jsx: true
    }
  },
  rules: {
    "no-console": 0,
    "react/jsx-uses-react": "error"
  },
  "plugins": ["react"]
}
